@charset "UTF-8";
/*
* @Author: jacobwang
* @Date:   2016-11-15 16:02:26.m-fl-2 .operation .r-btn {
* @Last Modified by:   wenyu
* @Last Modified time: 2016-12-20 13:48:13
*/
/*
* @Author: wenyu
* @Date:   2016-12-19 11:21:40
* @Email:  wangwenyu@qwang.com.cn
* @Last Modified by:   wenyu
* @Last Modified time: 2016-12-29 19:08:33
*/
/*
* @Author: wenyu
* @Date:   2016-12-19 16:42:18
* @Email:  wangwenyu@qwang.com.cn
* @Last Modified by:   wenyu
* @Last Modified time: 2017-01-05 17:17:01
*/
/* 两列定宽布局 */
/* 两列右侧自适应布局 */
/* 两列左侧自适应布局 */
/* 三列右侧自适应布局 */
/* 三列左侧自适应布局 */
/* 三列中间自适应布局 */
/* 等分布局 */
/*
* @Author: wenyu
* @Date:   2016-12-20 13:43:45
* @Email:  wangwenyu@qwang.com.cn
* @Last Modified by:   wenyu
* @Last Modified time: 2016-12-20 14:01:08
*/
.u-btn, .u-btn-primary {
  display: inline-block;
  padding: 6px 22px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background .2s ease; }
.u-btn-primary {
  color: #ffffff;
  background-color: #01a1e3;
  border-color: #01a1e3;
  border-radius: 3px; }
.u-btn-primary:hover {
  text-decoration: none;
  color: #fff;
  background-color: #018fca; }

/*
* @Author: jacobwang
* @Date:   2016-11-15 16:02:54
* @Email:  wangwenyu@qwang.com.cn
* @Last Modified by:   wenyu
* @Last Modified time: 2017-01-05 11:49:45
*/
.m-logo {
  float: left;
  width: 385px;
  height: 110px;
  overflow: hidden;
  position: relative;
  font-size: 50px;
  margin: 0; }

.m-indexfloor .g-sd1 {
  position: relative;
  float: left;
  width: 190px;
  margin-right: -190px; }

.m-indexfloor .g-mn1 {
  float: right;
  width: 100%; }

.m-indexfloor .g-mn1c {
  margin-left: 190px; }

.m-indexfloor .g-bd1:before,
.m-indexfloor .g-bd1:after {
  display: table;
  content: " "; }

.m-indexfloor .g-bd1:after {
  clear: both; }
