<!--#
layout("/layouts/platform.html"){
#-->
<header class="header navbar bg-white shadow">
    <div class="btn-group tool-button">
        <a class="btn btn-primary navbar-btn" href="${base}/platform/dec/templates/resource" id="goBack" data-pjax><i class="ti-angle-left"></i>${msg['globals.button.back']}</a>
    </div>
</header>

<div class="content-wrap">
    <div class="wrapper" style="min-height:500px;">
        <section class="panel panel-form">
            <form id="addForm" role="form" class="form-horizontal parsley-form" data-parsley-validate
                  action="${base}/platform/dec/templates/resource/addDo" method="post">
                <div class="row mb10 mt10">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="folderUuid" class="col-sm-2 control-label">${msg['dec.templates.resource.column.folderUuid']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="folderUuid" class="form-control" name="folderUuid" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.folderUuid']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fileName" class="col-sm-2 control-label">${msg['dec.templates.resource.column.fileName']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="fileName" class="form-control" name="fileName" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.fileName']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="suffix" class="col-sm-2 control-label">${msg['dec.templates.resource.column.suffix']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="suffix" class="form-control" name="suffix" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.suffix']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fileType" class="col-sm-2 control-label">${msg['dec.templates.resource.column.fileType']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="fileType" class="form-control" name="fileType" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.fileType']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resourceKey" class="col-sm-2 control-label">${msg['dec.templates.resource.column.resourceKey']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="resourceKey" class="form-control" name="resourceKey" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.resourceKey']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">${msg['dec.templates.resource.column.note']}</label>
                            <div class="col-sm-8">
                            <input type="text" id="note" class="form-control" name="note" data-parsley-required="true" placeholder="${msg['dec.templates.resource.column.note']}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="form-group text-center">
                        <label></label>

                        <div>
                            <button class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="${msg['globals.button.submit.tip']}">${msg['globals.button.submit']}</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function () {
        $('#addForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, form, options) {
                form.find("button:submit").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.code == 0) {
                    Toast.success(data.msg);
                    form.resetForm();
                } else {
                    Toast.error(data.msg);
                }
                form.find("button:submit").button("reset");
            }
        });
    });
</script>
<!--#}#-->


