<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">Dec_templates_files</a>
                        <small>${obj.id}</small>
                    </div>
                </header>
                <div class="list-group">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <tbody>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.templateUuid']}</td><td>${obj.templateUuid}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.fileType']}</td><td>${obj.fileType}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.showName']}</td><td>${obj.showName}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.pageUuid']}</td><td>${obj.pageUuid}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.parentUuid']}</td><td>${obj.parentUuid}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.note']}</td><td>${obj.note}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.templates.files.column.isDefault']}</td><td>${obj.isDefault}</td>
                            </tr>
                                                    </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">${msg['globals.button.ok']}</button>
</div>
