<script src="${base!}/assets/platform/vendor/ueditor/ueditor.config.js"></script>
<script src="${base!}/assets/platform/vendor/ueditor/ueditor.all.js"></script>
<div class="modal-body no-p">
    <h4 class="modal-title" id="adoptLabel">套用现有模板</h4>
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-form">
                <form id="saveReportForm" role="form" class="form-horizontal parsley-form form-bordered form-validate1" data-parsley-validate
                      action="${base}/platform/dec/templates/manager/adopt" method="post" enctype="multipart/form-data" class='form-bordered form-validate' onsubmit="return saveReport();">
                    <div class="row mb10 mt10">
                        <div class="col-lg-12">
                            <div class="form-group" hidden="hidden">
                                <label for="templateUuid" class="col-sm-2 control-label">${msg['dec.templates.pages.column.templateUuid']}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="templateUuid" class="form-control" name="templateUuid" data-parsley-required="true" placeholder="${msg['dec.templates.pages.column.templateUuid']}" value="${obj.id}">
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="templateUuid" class="col-sm-2 control-label">所选模板</label>
                                <div class="col-sm-8">
                                    <input type="text" id="" class="form-control" name="" data-parsley-required="true" readOnly="readOnly" value="${obj.templateZhName}">
                                </div>
                            </div>
                            <!--   <div class="form-group">
                                   <label for="pageNo" class="col-sm-2 control-label">${msg['dec.templates.pages.column.pageNo']}</label>
                                   <div class="col-sm-8">
                                   <input type="text" id="pageNo" class="form-control" name="pageNo" data-parsley-required="true" placeholder="${msg['dec.templates.pages.column.pageNo']}">
                                   </div>
                               </div>-->
                            <div class="form-group">
                                <label for="templateZhName" class="col-sm-2 control-label">${msg['dec.templates.manager.column.templateZhName']}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="templateZhName" class="form-control" name="pageName" data-parsley-required="true" placeholder="${msg['dec.templates.manager.column.templateZhName']}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="templateEnName" class="col-sm-2 control-label">${msg['dec.templates.manager.column.templateEnName']}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="templateEnName" class="form-control" name="pageFileName" data-parsley-required="true"  placeholder="${msg['dec.templates.manager.column.templateEnName']}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="templateImage" class="col-sm-2 control-label">${msg['dec.templates.manager.column.templateImage']}</label>

                                <div class="col-sm-8">
                                    <div id="queue"></div>
                                    <div>
                                        <input id="file_upload" name="file_upload" type="file"
                                               multiple="false">
                                    </div>
                                    <div id="img" style="padding: 5px;"></div>
                                    <input type="hidden" id="templateImage" name="templateImage" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="useType" class="col-sm-2 control-label">${msg['dec.templates.manager.column.useType']}</label>
                                <div class="col-sm-8">
                                    <select type="text" id="useType" class="form-control" name="useType">
                                        <option value="1">平台</option>
                                        <option value="2">店铺</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">${msg['dec.templates.manager.column.description']}</label>
                                <div class="col-sm-8">
                                    <textarea type="text" id="description" class="form-control" name="description" data-parsley-required="true" placeholder="${msg['dec.templates.manager.column.description']}"></textarea>
                                </div>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label for="disabled" class="col-sm-2 control-label">${msg['dec.templates.manager.column.disabled']}</label>
                                <div class="col-sm-8 switcha">
                                    <div class="mr15">
                                        <input type="checkbox" id="disabled" name="disabled"
                                               value="1" class="js-switch-blue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="form-group text-center">
                                <label></label>
                                <div>
                                    <button class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="${msg['globals.button.submit.tip']}">${msg['globals.button.submit']}</button>
                                </div>
                            </div>
                        </div>
                </form>
            </section>
        </div>
    </div>
</div>
<script language="JavaScript">
    function clearFile() {
        $("#img").html("");
        $("#queue").html("");
        $("#templateImage").val("");
    }
    $(document).ready(function () {
        $('#file_upload').uploadifive({
            'auto': true,
            'multi': false,
            'width': '100%',
            'height': '35',
            'buttonText': '${msg["cms.article.column.selectpicture"]}',
            'fileType': 'image/jpg,image/jpeg,image/png',
            'fileSizeLimit': 1024,
            'queueSizeLimit': 1,
            'formData': {},
        'queueID': 'queue',
            'uploadScript': '${base}/open/file/upload/image',
            'onUploadComplete': function (file, data) {
            data = JSON.parse(data);
            if (data.code == 0) {
                Toast.success(data.msg);
                $("#img").html("<img src='" + data.data + "' style='width:150px;height:95px;'>");
                $("#templateImage").val(data.data);
            } else {
                clearFile();
                Toast.error(data.msg);
            }
        },
        'onDrop': function (file, fileDropCount) {
            clearFile();
        },
        'onClearQueue': function (queue) {
            clearFile();
        },
        'onCancel': function () {
            clearFile();
        }
    });
        $('#saveReportForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, form, options) {
                form.find("button:submit").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.code == 0) {
                    Toast.success(data.msg);
                    form.resetForm();
                } else {
                    Toast.error(data.msg);
                }
                form.find("  :submit").button("reset");
            }
        });
    });
</script>