<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">Dec_component</a>
                        <small>${obj.id}</small>
                    </div>
                </header>
                <div class="list-group">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <tbody>
                                                        <tr>
                                <td>${msg['dec.component.column.versionType']}</td><td>${obj.versionType}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.compCategoryUuid']}</td><td>${obj.compCategoryUuid}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.compType']}</td><td>${obj.compType}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.useType']}</td><td>${obj.useType}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.compId']}</td><td>${obj.compId}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.compName']}</td><td>${obj.compName}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.compImage']}</td><td>${obj.compImage}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.classFullName']}</td><td>${obj.classFullName}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.description']}</td><td>${obj.description}</td>
                            </tr>
                                                        <tr>
                                <td>${msg['dec.component.column.disabled']}</td><td>${obj.disabled}</td>
                            </tr>
                                                    </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">${msg['globals.button.ok']}</button>
</div>
